{
    "proto": "./api/grpc/unary/proto3.proto",
    "call": "calculator.CalculatorService.Sum",
    "total": 10000,
    "concurrency": 10,
    "data": {
        "a": 12,
        "b": 13
    },
    "max-duration": "2s",
    "host": "0.0.0.0:50051",
    "format":"html",
    "output": "./cmd/grpc/ghz_test.html",
    "insecure": true
}
