name: GitHub Actions Demo - dev
on: 
  push:
    branches:
      - "develop"
jobs:
  deploy:
    name: Deploy
    runs-on: ubuntu-latest
    environment: develop
    steps:
    - name: Configure AWS credentials
      uses: aws-actions/configure-aws-credentials@v1
      with:
        aws-access-key-id: ${{ secrets.AWS_ACCESS_KEY_ID }}
        aws-secret-access-key: ${{ secrets.AWS_SECRET_ACCESS_KEY }}
        aws-region: us-east-2
    - run: aws s3 ls && echo "ttttt"